<!--layout-->
<!DOCTYPE html>
<html>
  <head>
    <title>Klassy Kuts</title>
    <BASE href="/">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      #parse( $template )
    </div>
    Stylists: <a href="/stylists">List All</a> | <a href="/stylists/new">New</a> |<br>
    Clients: <a href="/clients">List All</a> | <a href="/clients/new">New</a> |<br>
  </body>
</html>
<!--layout-->
