<!--stylist-new.vtl-->
<h1>New Stylist</h1>

<form action="/stylists" method="post">
  <label for="name">Stylist name</label>
  <input id="name" name="name" type="text">

  <label for="phone">Cell #</label>
  <input id="phone" name="phone" type="text">

  <label for="shopId">Shop #</label>
  <input id="shopId" name="shopId" type="text">
  <button type="submit" class="btn btn-success">Add Stylist</button>
</form>
<!--stylist-new.vtl-->
